form {
    width: 50%;
}

.redbox {
    height: 600px;
    border: solid 5px red;
}

.bluebox {
    height: 600px;
    border: solid 5px blue;
}

.purplebox {
    border:solid 5px magenta;
}

.yellowbox {
    border:solid 5px yellow;
    height: 525px;
}